@import '../var.scss';
.Header{
    background-color: $white-letters;
    background: $first-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
        &.menuButton{
            margin: 1em 2em 1em 2em;
        }
        &.menu_img{
            border-radius: 50%;
            padding: 10px;
            box-sizing: border-box;
            max-width: 128px;
        }
        &.search{
            border-bottom-left-radius:3em ;
        }
        &.header_imgLogo{
            background-position: relative;
        }
}