body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothig: antialiased;
    -moz-osx-font-smooothing: grayscale;
}
code {
    font-family: source-code-pro, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}